.songCard-body {
    width: 100%;
    /* opacity: 50%; */
    height: 62%;
    background-color: #8f323a;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }