a{
    text-decoration: none;
}
.btn-body{
    margin: 5px auto;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:all 0.3s ease ;
}
.btn-body:hover{
    color: darkslategrey;
}
.btn-body.active{
    background-color:#FFB6C1;
    color: darkslategrey;
    transform: scale(1.05);
}
.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 12px;
}